.container {
  display: grid;
  place-items: center;
}

.main {
  padding: 5rem 0;
  display: grid;
  place-items: center;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
